/problematicas/ejercicio03/nbproject/private/
/problematicas/Ejercicio02/build/
/problematicas/Ejercicio02/nbproject/private/
/problematicas/ejercicio03/build/
/problematicas/ejercicio01/nbproject/private/
/problematicas/ejercicio01/build/
/problematicas/ejercicio04/nbproject/private/
/problematicas/ejercicio04/build/
/problematicas/ejercicio05/nbproject/private/
/problematicas/ejercicio05/build/
